<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>
			org.bzc.comicstore.servlets.IndexServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CategoryServlet</servlet-name>
		<servlet-class>
			org.bzc.comicstore.servlets.CategoryServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProductServlet</servlet-name>
		<servlet-class>
			org.bzc.comicstore.servlets.ProductServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ItemServlet</servlet-name>
		<servlet-class>
			org.bzc.comicstore.servlets.ItemServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignonServlet</servlet-name>
		<servlet-class>
			org.bzc.comicstore.servlets.SignonServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrdersServlet</servlet-name>
		<servlet-class>
			org.bzc.comicstore.servlets.OrdersServlet
		</servlet-class>
	</servlet>

      <servlet>
		<servlet-name>GoodsServlet</servlet-name>
		<servlet-class>
			org.bzc.comicstore.servlets.GoodsServlet
		</servlet-class>
	</servlet>
      <servlet>
		<servlet-name>SellServlet</servlet-name>
		<servlet-class>
			org.bzc.comicstore.servlets.SellServlet
		</servlet-class>
	</servlet>
      <servlet>
		<servlet-name>CommentServlet</servlet-name>
		<servlet-class>
			org.bzc.comicstore.servlets.CommentServlet
		</servlet-class>
	</servlet>
      
      <servlet>
		<servlet-name>OrderstatusServlet</servlet-name>
		<servlet-class>
			org.bzc.comicstore.servlets.OrderstatusServlet
		</servlet-class>
	</servlet>




	
	
	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/index.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CategoryServlet</servlet-name>
		<url-pattern>/category.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductServlet</servlet-name>
		<url-pattern>/product.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ItemServlet</servlet-name>
		<url-pattern>/item.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignonServlet</servlet-name>
		<url-pattern>/signon.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrdersServlet</servlet-name>
		<url-pattern>/orders.do</url-pattern>
	</servlet-mapping>
      <servlet-mapping>
		<servlet-name>GoodsServlet</servlet-name>
		<url-pattern>/GoodsServlet</url-pattern>
	</servlet-mapping>
      <servlet-mapping>
		<servlet-name>SellServlet</servlet-name>
		<url-pattern>/sell.do</url-pattern>
	</servlet-mapping>
       <servlet-mapping>
		<servlet-name>CommentServlet</servlet-name>
		<url-pattern>/comment.do</url-pattern>
	</servlet-mapping>
      <servlet-mapping>
		<servlet-name>OrderstatusServlet</servlet-name>
		<url-pattern>/orderstatus.do</url-pattern>
	</servlet-mapping>




  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
